<div class="alert" *ngIf="editalert">
    <strong>Edited Successfully</strong> .
  </div>

<form #f="ngForm" *ngIf="editform">
    <h2>Edit Form</h2>
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="books.title">
    <div class="form-group">
      <div class="form-group">
        <label for="position">Title</label>
        <input type="text" class="form-control" name="title"  #name="ngModel" [(ngModel)]="books.title"
         placeholder="Title">
      </div>
      <label for="name">Author</label>
      <input type="text" class="form-control" name="name" id="name" #name="ngModel" [(ngModel)]="books.author"
       placeholder="Author Name" required>
    </div>
    <div class="form-group">
      <label for="position">Description</label>
      <input type="text" class="form-control" name="description" #name="ngModel" [(ngModel)]="books.description"
       placeholder="Description">
    </div>
  
    <div class="form-group">
      <label for="position">Image URL</label>
      <input type="text" class="form-control" name="position"  #name="ngModel" [(ngModel)]="books.image"
       placeholder="Image URL">
    </div>
    <button  class="btn btn-default"  (click)="save(books)">Save Book</button>
  </form>
  
