<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="conrainer-fluid">
	<div class="row">
	  <div class="col"></div>
	  <div class="col-md-4 col-md-4 col-md-6 col-sm-offset-4 col-md-offset-4">
		<div class="card m-3">
		  <h5 class="card-header opacity-100">ADD A BOOK</h5>
		  <div class="card-body">
			<form  [formGroup]="form"  (ngSubmit)="onSubmit()">
			
			  <div class="form-group" >
				<label>Title</label>
				<input type="text" formControlName="title" class="form-control opacity-100">
			  </div>
			  <div class="form-row">
				<div class="form-group col" >
				  <label>Author</label>
				  <input type="author" formControlName="author" class="form-control" />
				</div>
			  </div>
			  <div class="form-row">
				<div class="form-group col" >
				  <label>Descripion</label>
				  <input type="description" formControlName="description" class="form-control" />
				</div>
			
			  </div>

			  <div class="form-row">
				<div class="form-group col" >
				  <label>Image Link</label>
				  <input type="text" formControlName="image" class="form-control" />
				</div>
			
			  </div>
			  <button type="submit" >Add Book</button>
	
	
			  <br>
			  <br>
			  <br>
	
			</form>
		  </div>
		</div>
	  </div>
	  <div class="col"></div>
	</div>
	</div>
	
