mat-grid-list
{
    margin-top: 3cm;
}

p{
    color:black;
  font-size: 18px;
  font-family: 'permanent Marker', cursive;
   
}


h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
     color: maroon;
     text-align: center;
  }
  p{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
   color:black;
   text-align: left;
   font-style: italic;
   font-variant: small-caps;
  }


  img
  {
    height: 3cm;
    width: 4cm;
  }